a {
  text-decoration: none;
  color: currentColor;
}

:root {
  --primary-color: var(rgba(33, 33, 33, 1));
  --font-color: var(rgba(33, 150, 243, 1));
  --font2-color: var(rgba(117, 117, 117, 1));
  --button: var(rgba(33, 150, 243, 1));
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex-shrink: 0;
}

.logo {
  color: rgb(33, 150, 243);
  text-align: right;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  align-items: center;
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.top_navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav .link:hover {
  color: rgba(33, 150, 243, 1);
}

.inf_navigation .link {
  display: flex;
  color: var(--font2-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.inf_navigation .link:hover {
  color: rgba(33, 150, 243, 1);
}
.inf_navigation {
  display: flex;
  list-style: none;
  gap: 50px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main_portfolio .link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.main_portfolio .link:hover {
  background-color: rgba(33, 150, 243, 1);
}

.main_portfolio {
  display: flex;
  list-style: none;
  gap: 8px;
}

.port_img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.card_port {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 4px;
  border: 1px;
  box-shadow: rgba(0, 0, 0, 0.16);
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: rgba(47, 48, 58, 1);
}
.hero_title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
}

.button_contact {
  width: 261px;
  height: 50px;
  top: 430px;
  left: 466px;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  gap: 10px;
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.button_contact:hover {
  background-color: rgba(34, 150, 243, 1);
}

.menu_services {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

h3 {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.42px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_img {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.title2 {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 648px;
  background-color: rgba(245, 244, 250, 1);
}

.team_list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card_team {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0px, 0px, 4px, 4px;
  border: 0cap;
}

.footer_navigation {
  list-style: none;
}
.footer_navigation .foot_nav {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer_navigation .link {
  color: rgba(117, 117, 117, 1);
}
.footer_navigation .link:hover {
  color: rgba(33, 150, 243, 1);
}
.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 252px;
  background-color: rgba(47, 48, 58, 1);
}

.footer_navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 231px;
}
